<footer>
    <h2 class="footer-title">Nouveautés</h2>
    <div class="footer-container">
        <% lastThreeCoffees.forEach(coffee => { %>
            <section class="section-decouverte">
                <h1><%= coffee.name %></h1>
                <img class="img-decouverte" src="/images/<%= coffee.name %>.png" alt="<%= coffee.name %>">
                <p class="caracteristique-decouverte"><%= coffee.category %></p>
                <a class="article-decouverte-link" href="/product/<%= coffee.id %>">Découvrir</a>
            </section>
        <% }) %>
    </div>
</footer>
</body>
</html>